
<div class="collapse">
    <div class="collapse-item">
        <div class="collapse-header">Collapse Item 1</div>
        <div class="collapse-content">Content for Collapse Item 1</div>
    </div>
    <div class="collapse-item">
        <div class="collapse-header">Collapse Item 2</div>
        <div class="collapse-content">Content for Collapse Item 2</div>
    </div>
    <div class="collapse-item">
        <div class="collapse-header">Collapse Item 3</div>
        <div class="collapse-content">Content for Collapse Item 3</div>
    </div>
</div>
