
<div class="overflow">
    <div class="overflow-auto">
        <div class="overflow-item">Overflow Auto</div>
        <div class="overflow-item">Overflow Auto</div>
        <div class="overflow-item">Overflow Auto</div>
    </div>
    <div class="overflow-hidden">
        <div class="overflow-item">Overflow Hidden</div>
        <div class="overflow-item">Overflow Hidden</div>
        <div class="overflow-item">Overflow Hidden</div>
    </div>
    <div class="overflow-visible">
        <div class="overflow-item">Overflow Visible</div>
        <div class="overflow-item">Overflow Visible</div>
        <div class="overflow-item">Overflow Visible</div>
    </div>
    <div class="overflow-scroll">
        <div class="overflow-item">Overflow Scroll</div>
        <div class="overflow-item">Overflow Scroll</div>
        <div class="overflow-item">Overflow Scroll</div>
    </div>
</div>
