
<div class="spacing">
    <div class="m-1 spacing-item">Margin 1</div>
    <div class="m-2 spacing-item">Margin 2</div>
    <div class="m-3 spacing-item">Margin 3</div>
    <div class="m-4 spacing-item">Margin 4</div>
    <div class="m-5 spacing-item">Margin 5</div>
    <div class="p-1 spacing-item">Padding 1</div>
    <div class="p-2 spacing-item">Padding 2</div>
    <div class="p-3 spacing-item">Padding 3</div>
    <div class="p-4 spacing-item">Padding 4</div>
    <div class="p-5 spacing-item">Padding 5</div>
</div>
