
.flex {
    margin-bottom: 20px;
}

.flex .d-flex {
    display: flex;
}

.flex .flex-row {
    flex-direction: row;
}

.flex .flex-row-reverse {
    flex-direction: row-reverse;
}

.flex .flex-column {
    flex-direction: column;
}

.flex .flex-column-reverse {
    flex-direction: column-reverse;
}

.flex .flex-wrap {
    flex-wrap: wrap;
}

.flex .flex-nowrap {
    flex-wrap: nowrap;
}

.flex .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex .justify-content-start {
    justify-content: flex-start;
}

.flex .justify-content-end {
    justify-content: flex-end;
}

.flex .justify-content-center {
    justify-content: center;
}

.flex .justify-content-between {
    justify-content: space-between;
}

.flex .justify-content-around {
    justify-content: space-around;
}

.flex .align-items-start {
    align-items: flex-start;
}

.flex .align-items-end {
    align-items: flex-end;
}

.flex .align-items-center {
    align-items: center;
}

.flex .align-items-baseline {
    align-items: baseline;
}

.flex .align-items-stretch {
    align-items: stretch;
}

.flex .align-content-start {
    align-content: flex-start;
}

.flex .align-content-end {
    align-content: flex-end;
}

.flex .align-content-center {
    align-content: center;
}

.flex .align-content-between {
    align-content: space-between;
}

.flex .align-content-around {
    align-content: space-around;
}

.flex .align-content-stretch {
    align-content: stretch;
}

.flex .flex-item {
    padding: 10px;
    margin: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
}

