
.clearfix {
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix .float-left {
    float: left;
    margin-right: 10px;
}

.clearfix .float-right {
    float: right;
    margin-left: 10px;
}

