
<div class="display">
    <button class="toggle-display" data-target=".d-none">Toggle None</button>
    <button class="toggle-display" data-target=".d-inline">Toggle Inline</button>
    <button class="toggle-display" data-target=".d-inline-block">Toggle Inline-Block</button>
    <button class="toggle-display" data-target=".d-block">Toggle Block</button>
    <button class="toggle-display" data-target=".d-flex">Toggle Flex</button>
    <button class="toggle-display" data-target=".d-inline-flex">Toggle Inline-Flex</button>

    <div class="d-none">Display None</div>
    <div class="d-inline">Display Inline</div>
    <div class="d-inline-block">Display Inline-Block</div>
    <div class="d-block">Display Block</div>
    <div class="d-flex">Display Flex</div>
    <div class="d-inline-flex">Display Inline-Flex</div>
</div>
