
<div class="interactions">
    <div class="interaction-item user-select-none">User Select None</div>
    <div class="interaction-item pointer-events-none">Pointer Events None</div>
    <div class="interaction-item cursor-pointer">Cursor Pointer</div>
    <div class="interaction-item cursor-default">Cursor Default</div>
    <div class="interaction-item cursor-wait">Cursor Wait</div>
    <div class="interaction-item cursor-text">Cursor Text</div>
    <div class="interaction-item cursor-move">Cursor Move</div>
    <div class="interaction-item cursor-not-allowed">Cursor Not Allowed</div>
</div>
